In [2]:
%matplotlib notebook
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [3]:
laptops = pd.read_table('knn_laptops.txt')
print('Aantal laptops: {}'.format(len(laptops)))
laptops

Aantal laptops: 8

  id  scherm  GB  SSD  Proc  Prijsgroep
0  A    11.6   2   32     1           0
1  B    13.3   2  128     1           0
2  C    15.6   4  128     2           1
3  D    15.6   4  256     2           1
4  E    15.6   8  256     3           2
5  F    17.1   4  256     3           2
6  G    15.6   8  512     3           3
7  H    17.1  12  512     2           3

In [4]:
X=laptops[['scherm','GB','SSD','Proc']]
Y=laptops['Prijsgroep']   # moet nummeriek zijn
knn = KNeighborsClassifier(n_neighbors = 1)
knn.fit(X,Y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=1, p=2,
           weights='uniform')

In [5]:
knn.predict([[17.1,4,256,2],[12.4,8,192,1],[15.6,12,512,3]])

array([2, 2, 3], dtype=int64)