In [1]:
import pandas as pd
import numpy as np

# Oefening Series

In [2]:
values = [7.0, 6.5, 9.0]
index = [ 'DS', 'IAC', 'NET']
cijfers = pd.Series(values, index=index)
cijfers

DS     7.0
IAC    6.5
NET    9.0
dtype: float64

- Haal het cijfer 6.5 op uit de Series door middel van:
  1. de expliciete key methode
  2. de impliciete key methode
  3. rechtstreeks met de expliciete key
  4. rechtstreeks met de impliciete key

- Snij de cijfers van de laatste twee vakken uit de Series.

- Bepaal gemiddelde, mediaan, minimum en maximum van de cijfers.

# Oefening Dataframe

In [6]:
student1 = pd.Series({'Nummer':'s1', 'Naam':'Joop', 'Tentamen':6.0, 'Opdracht': 7.5})
student2 = pd.Series({'Nummer':'s2', 'Naam':'Piet', 'Tentamen':8.0, 'Opdracht': 7.0})
student3 = pd.Series({'Nummer': None, 'Naam':'Fout', 'Tentamen':99.9, 'Opdracht': 99.9})
student4 = pd.Series({'Nummer':'s3', 'Naam':'Kees', 'Tentamen':4.0, 'Opdracht': 6.0})
studenten = pd.DataFrame([student1, student2,student3, student4])
studenten

  Nummer  Naam  Tentamen  Opdracht
0     s1  Joop       6.0       7.5
1     s2  Piet       8.0       7.0
2   None  Fout      99.9      99.9
3     s3  Kees       4.0       6.0

- Bepaal het totaal aantal niet-bestaande waarden.

- Zet de opdracht- en tentamencijfers met waarde 99.9 om naar NaN waarde

- Haal de missing values uit het DataFrame

- Zet `Nummer` als index.

- Het eindcijfer van het vak is 70% tentamen en 30% opdracht; voeg dit als kolom `Eindcijfer` toe

- Bepaal het gemiddelde eindcijfer

- Wat geeft `studenten.describe()` weer?

- Selecteer alle namen en cijfers van de studenten met een voldoende als eindcijfer.