In [1]:
# Bronnen
# Dowload: https://archive.ics.uci.edu/ml/datasets/Auto+MPG 
# Omvormen naar csv: http://fatihsarigoz.com/autompg-data.html 
# Lineaire regressie: http://benalexkeen.com/linear-regression-in-python-using-scikit-learn/

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import math
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('regressie_auto_mpg.csv')
df['origin'].unique()

array([1, 3, 2], dtype=int64)

In [4]:
# drop name
df = df.drop('name', axis=1)

In [5]:
# Origin seems to be numeric, but it is categorical replace origin with a separate column
df = pd.get_dummies(df, columns=['origin'])
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin_1,origin_2,origin_3
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,0,0
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,0,0
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,0,0
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,0,0
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,0,0

### 1. Kies het juiste modeltype

In [6]:
 model = LinearRegression()

### 2. Kies de hyperparameters

### 3. Organiseer de data: _features_ (eigenschappen) en _target_ (resultaat)

In [29]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin_1,origin_2,origin_3
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,0,0
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,0,0
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,0,0
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,0,0
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,0,0

In [42]:
X = df[['cylinders', 'displacement', 'horsepower', 'weight', 'year', 'origin_1', 'origin_2', 'origin_3']]

In [43]:
X.head()

,cylinders,displacement,horsepower,weight,year,origin_1,origin_2,origin_3
0,8,307.0,130.0,3504.0,70,1,0,0
1,8,350.0,165.0,3693.0,70,1,0,0
2,8,318.0,150.0,3436.0,70,1,0,0
3,8,304.0,150.0,3433.0,70,1,0,0
4,8,302.0,140.0,3449.0,70,1,0,0

In [44]:
Y = df[['mpg']]
Y.head()

    mpg
0  18.0
1  15.0
2  18.0
3  16.0
4  17.0

### 4. Creëer een training- en validatieset

In [45]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y)

In [46]:
X.shape

(392, 8)

In [47]:
X_train.shape

(294, 8)

### 5. Start het leerproces

In [48]:
 model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [49]:
model.coef_

array([[-0.3009344 ,  0.02108302, -0.02337699, -0.00661244,  0.77745755,
        -2.07492155,  1.00260824,  1.07231331]])

In [50]:
X.columns

Index(['cylinders', 'displacement', 'horsepower', 'weight', 'year', 'origin_1',
       'origin_2', 'origin_3'],
      dtype='object')

### 6. Valideer het model

Bereken de determinatiecoëfficient $r^2$.

In [51]:
model.score(X_test, Y_test)

0.7867362206971742

Bereken de _root mean squared error_, gebruik makend van `mean_squared_error()`.

In [52]:
y_model = model.predict(X_test)

In [53]:
mean_squared_error(y_model, Y_test)

9.876671081197689

Wat is de betekenis van dit getal?